.main-logo {
	width: 100%;
	height: 100px;
	text-align: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__image {
		display: flex;
		width: auto;
		height: 70px;
		margin-top: 10px;
		background-size: 36px 36px;
		border-radius: 50%;
		//min-width: 36px;
		align-items: center;
		justify-content: center;
		align-content: center;

		h4 {
			margin-left: 6px;
			font: 500 26px/28px 'Google Sans', Roboto, Helvetica Neue, sans-serif;
			color: rgba(0, 0, 0, 0.8);
			@media (max-width: 539px) {
				//display: none;
			}
		}
	}
}
